form{
    margin: 0;
    position: absolute;
    left: 40%;
    top: 10%;
}

h2{
    margin: auto;
    position: absolute;
    left: 45%;
    top: 5%;
}

.error{
    font-size: small;
    color: red;
}