<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New</title>
    <link rel="stylesheet" th:href="@{/css/custom-form.css}"/>
</head>
<body>
<h2>New Person</h2>
<form th:action="@{/post}" method="post" th:object="${person}">

    <div th:if="${#fields.hasErrors('*')}">
        <h1>Errors</h1>
        <ul>
            <li th:each="err : ${#fields.errors('*')}"
                th:text="${err}">Error</li>
        </ul>
    </div>

    <label>First Name: </label>
    <input type="text" th:field="*{firstName}">
    <span th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}"/>

    <br>
    <div id="error" th:if="${error}">Please don't leave Firstname empty and the first letter must be uppercase</div>
    <br>
    <label>Last Name: </label>
    <input type="text" name="lastName" th:field="*{lastName}" >
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"/>
    <br>
    <div id="error" th:if="${error}">Please don't leave Lastname empty and the first letter must be uppercase</div>
    <br>
    <label class="dateOfBirth">Date of Birth: </label>
    <input type="date" name="dateOfBirth" class="dateOfBirth" th:value="${today}" th:field="*{dateOfBirth}">
    <span th:if="${#fields.hasErrors('dateOfBirth')}"
          th:errors="*{dateOfBirth}"/>
    <br>
    <div id="error" th:if="${error}">Please don't select a birthdate in the past or present</div>
    <br>
    <label class="sex">Sex: </label>
    <select name="sex">
        <option th:each="sex : ${sexes}" th:text="${sex}" th:value="${sex}" name="sex" th:field="*{sex}"></option>
    </select>
    <span th:if="${#fields.hasErrors('sex')}"
          th:errors="*{sex}"/>
    <br>
    <br>
    <label>Interests: </label>
    <div th:each="interest : ${interests}" >
        <input type="checkbox" th:text="${interest}"  th:value="${interest.id}" th:field="*{interests}">
    </div>
    <span th:if="${#fields.hasErrors('interests')}"
          th:errors="*{interests}"/>
    <div id="error" th:if="${error}">Please don't select more than 3 interests</div>
    <br>
    <input type="submit" value="ADD">
</form>
</body>
</html>