<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Sex</th>
        <th>Intrests</th>
    </tr>
    <tr th:each="person : ${personList}" >
        <th th:text="${person.getFirstName()}"></th>
        <th th:text="${person.lastName}"></th>
        <th th:text="${person.dateOfBirth}"></th>
        <th th:text="${person.sex}"></th>
        <th th:each="interest : ${person.interests}" th:text="${interest} + ', '"></th>
    </tr>
</table>
<a th:href="@{/new}">New</a>
</body>
</html>